node_modules
dist
src/check.ts
package-lock.json
coverage/
.env
src/database.db
rdb
server.zip
deployment/.terraform
deployment/terraform.tfstate
deployment/terraform.tfstate.backup
deployment/.terraform.lock.hcl
deployment/terraform.tfstate.d
deployment/.terraform.tfstate.lock.info